.card {
    margin-bottom: 30px;
    width: 350px;  
}

.card-footer {
    padding: 0px;
}

.card-img-top {
    width: 350px;
    height: 197px;
    object-fit: cover; 
}

.card-footer button {
    cursor: pointer;
}